.banner{
	position:relative;
	width:16rem;
	height:8rem;
	overflow:hidden;
}
.banner .container{
	width:32rem;
}
.banner a{
	position:absolute;
	top:0;
	display:block;
	width:16rem;
	height:8rem;
}
.banner a:nth-of-type(1){
	left:-16rem;
}
.banner a:nth-of-type(2){
	left:0;
}
.banner a:nth-of-type(3){
	left:16rem;
}
.banner img{
	width:100%;
	height:100%;
}
.banner .title{
	position:absolute;
	bottom:0;
	left:0;
	width:16rem;
	height:1.45rem;
	font-size:.675rem;
	line-height:1.45rem;
	font-family:Microsoft Yahei;
	background:rgba(0, 0, 0, 0.4);
	color:#fff;
}
.banner .title span{
	float:left;
	margin-left:.675rem;
	display:block;
	max-width:10.5rem;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.banner .title p{
	float:right;
	margin-right:.375rem;
	overflow:hidden;
}
.banner .title p em{
	float:left;
	margin-right:.3rem;
	opacity:0.4;
}
.banner .title p .chosen{
	opacity:1;
}