/***轮播图***/
.banner{
	position:relative;
	overflow:hidden;
}
/**图片**/
.banner a{
	position:absolute;
	width:100%;
	height:100%;
	background-color:white;
	background-size:100% 100%;
}
/*主题 - 切换*/
.banner.tab a::selection{
	background-color:transparent;
}
.banner.tab a:first-of-type, .banner.tab a.current{
	z-index:1;
}
/*主题 - 淡入淡出*/
.banner.fade a{
	transition:opacity .5s;
}
.banner.fade a:not(:first-of-type){
	opacity:0;
}
.banner.fade a.previous{
	opacity:0;
}
.banner.fade a.current{
	opacity:1;
}
/*主题 - 滑动*/
.banner.slide a:not(:first-of-type){
	transform:translateX(100%);
}
.banner.slide a.previous{
	animation:previous .5s forwards;
}
.banner.slide a.current{
	animation:current .5s forwards;
}
@keyframes previous{
	from{
		transform:translateX(0);
	}
	to{
		transform:translateX(-100%);
	}
}
@keyframes current{
	from{
		transform:translateX(100%);
	}
	to{
		transform:translateX(0);
	}
}
/**前后翻页控制**/
.banner svg{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	z-index:1;
	width:20px;
	height:60px;
	cursor:pointer;
}
.banner svg.previous{
	left:10px;
}
.banner svg.next{
	right:10px;
}
/**指针**/
.banner .indicator{
	position:absolute;
	z-index:1;
	bottom:10px;
}
.banner .indicator em{
	transition:background-color .5s;
}
/*主题 - 方块文字*/
.banner .indicator.theme1, .banner .indicator.theme2, .banner .indicator.theme3{
	width:100%;
	text-align:center;
}
.banner .indicator.theme1 em{
	margin-right:4px;
	padding:2px 6px;
	background-color:rgba(0, 128, 255, .6);
	vertical-align:super;
	font-size:12px;
	font-style:normal;
	font-family:monospace;
	color:white;
	cursor:pointer;
}
.banner .indicator.theme1 em.current, .banner .indicator.theme1 em:hover{
	background-color:rgb(0, 128, 255);
}
/*主题 - 圆点*/
.banner .indicator.theme2 em{
	margin-right:8px;
	padding:5px;
	background-color:rgba(255, 255, 255, .5);
	border-radius:50%;
	vertical-align:middle;
	font-size:0;
	cursor:pointer;
}
.banner .indicator.theme2 em.current, .banner .indicator.theme2 em:hover{
	background-color:white;
}
/*主题 - 宽矩形*/
.banner .indicator.theme3 em{
	margin-right:4px;
	padding:2px 16px;
	background-color:rgba(255, 255, 255, .5);
	vertical-align:middle;
	font-size:0;
	cursor:pointer;
}
.banner .indicator.theme3 em.current, .banner .indicator.theme3 em:hover{
	background-color:white;
}